<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2013 Google Inc. All rights reserved. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.mit.lizfong.android.hapticunlock"
    android:versionCode="3"
    android:versionName="1.02alpha" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="edu.mit.lizfong.android.hapticunlock.UnlockActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:screenOrientation="sensorPortrait" android:stateNotNeeded="true" android:launchMode="singleInstance" android:excludeFromRecents="true" android:taskAffinity="">
            <intent-filter>
                <category android:name="android.intent.category.HOME" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service android:enabled="true" android:name="edu.mit.lizfong.android.hapticunlock.ScreenDetector">
        </service>
    </application>

</manifest>
